#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}








/* SAMPLE 1 TESTING COLOUR PALETTE */
/* Primary: #2563EB
Secondary: #06B6D4
Background: #F9FAFB
Text: #111827
Accent: #F59E0B */



/* SAMPLE 2 TESTING COLOUR PALETTE */
/* Primary: #0EA5A4
Secondary: #2563EB
Background: #F7FAFC
Text: #0F172A
Accent: #F97316 */

/* Warm & Friendly — approachable, human-centered
Primary: #F97316
Secondary: #10B981
Background: #FFF8F1
Text: #1F2937
Accent: #7C3AED

Minimal Monochrome — very neutral / enterprise-y
Primary: #111827
Secondary: #6B7280
Background: #FFFFFF
Text: #0F172A
Accent: #2563EB

Elegant Dark — premium, low-light UI
Primary: #0B1220
Secondary: #374151
Background: #0F172A
Text: #E6EEF6
Accent: #7C3AED

Playful Purple — creative, more startup-y
Primary: #7C3AED
Secondary: #06B6D4
Background: #F7F5FF
Text: #111827
Accent: #F97316 */